*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

header{
  height: 80px;
  width: 100vw;
  background-color: #EFEFEF;
}

header > img{
  margin-top: 22px;
  margin-left: 20px;
}

main{
  margin: 115px auto 0 auto;
  width: 1276px;
  background-color: #FFFFFF;
}

.mainHeader{
  display: inline-block;
  width: 100%;
  height: 60px;
  position: relative;
}

.mainHeader > img, h1{
  float: left;
}

.mainHeader > h1{
  font: normal normal normal 25px/28px Roboto;
  margin-left: 10px;
  margin-top: 14px;
  color: #515151;
}

.mainHeader > p{
  text-align: right;
  font: normal normal normal 13px/18px Roboto;
  position: absolute;
  right: 0;
  bottom: 0;
}

hr{
  size: 1px;
  opacity: 0.6;
  margin: 5px 0 20px 0;
}

.register{
  width: 100%;
  height: 356px;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0px 2px 2px #00000067;
}

form{
  display: inline-block;
}

form > div > p{
  font: normal normal normal 14px/20px Roboto;
  color: #202020;
}

form > div > input, select{
  height: 30px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 4px;

  font: normal normal normal 14px/18px Roboto;
  padding-left: 10px;
}

.name, .cpf, .birth, .state, .city{
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}

.name > input{
  width: 716px;
}

.cpf > input{
  width: 304px;
}

.birth > input{
  width: 156px;
}

.state > select{
  width: 500px;
}

.city > select{
  width: 520px;
}

form > button{
  height: 30px;
  width: 156px;
  background-color: #65BF24;
  border: none;
  border-radius: 4px;
  float: left;
  margin-left: 25px;
  margin-top: 40px;
  padding-bottom: 2px;;

  font: normal normal bold 12px Roboto;
  color: #FFFFFF;
  text-align: center;

  cursor: pointer;
}

form > button:hover{
  background-color: #5CAC21;
}

table{
  width: 1236px;
  margin: 20px auto 0 auto;
  border-collapse: collapse;
}

.tableHeader{
  height: 40px;
  background-color: #E0E0E0;
  text-align: left;
}

.tableHeader th{
  font: normal normal bold 13px/24px Roboto;
  color: #101010;
  padding-left: 10px;
  border: 1px solid rgba(81, 81, 81,0.15);
}