*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.clear{
  clear: both;
}

header{
  height: 80px;
  width: 100vw;
  background-color: #EFEFEF;
}

header > img{
  margin-top: 22px;
  margin-left: 20px;
}

main{
  margin: 115px auto 0 auto;
  max-width: 1276px;
  background-color: #FFFFFF;
}

.mainHeader{
  display: inline-block;
  width: 100%;
  height: 60px;
  position: relative;
}

.mainHeader > img, h1{
  float: left;
}

.mainHeader > h1{
  font: normal normal normal 25px/28px Roboto;
  margin-left: 10px;
  margin-top: 14px;
  color: #515151;
}

.mainHeader > p{
  text-align: right;
  font: normal normal normal 13px/18px Roboto;
  position: absolute;
  right: 0;
  bottom: 0;
}

hr{
  size: 1px;
  opacity: 0.6;
  margin: 5px 0 20px 0;
}

.register{
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0px 2px 2px #00000067;
}

#form{
  display: inline-block;
  max-width: 100%;
}

#form > div > p{
  font: normal normal normal 14px/20px Roboto;
  color: #202020;
}

#form > div > input, select{
  height: 30px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  
  font: normal normal normal 14px/18px Roboto;
  padding-left: 10px;
}

.name, .cpf, .birth, .state, .city{
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}

#name{
  width: 716px;
}

#cpf{
  width: 304px;
}

#birth{
  width: 156px;
}

#state{
  width: 500px;
}

#city{
  width: 520px;
}

#submit{
  height: 30px;
  width: 156px;
  background-color: #65BF24;
  border: none;
  border-radius: 4px;
  float: left;
  margin-left: 25px;
  margin-top: 40px;
  padding-bottom: 2px;;
  
  font: normal normal bold 12px Roboto;
  color: #FFFFFF;
  text-align: center;
  
  cursor: pointer;
  transition: 0.2s;
}

#submit:hover{
  background-color: #5CAC21;
}

.tableWrapper{
  overflow-x: auto;
}

#table{
  width: 96%;
  min-width: 800px;
  margin: 20px auto 0 auto;
  border-collapse: collapse;
}

.tableHeader{
  height: 40px;
  background-color: #E0E0E0;
  text-align: left;
}

.tableHeader > th{
  font: normal normal bold 13px/24px Roboto;
  color: #101010;
  padding-left: 10px;
  border: 1px solid rgba(81, 81, 81,0.15);
}

.tableItem{
  height: 39px;
  background-color: #FFFFFF;
  text-align: left;
  transition: 0.1s;
}

.tableItem:hover{
  background-color: #EFEFEF;
}

.tableItem > td{
  border: 1px solid rgba(81, 81, 81,0.15);
}

.texts{
  font: normal normal normal 13px/24px Roboto;
  color: #101010;
  padding-left: 10px;
}

.buttons{
  text-align: center;
}

.edit, .delete{
  cursor: pointer;
  border: none;
  background: none;
}

@media only screen and (max-width: 1330px) {
  main{
    max-width: 1100px;
  }

  #name{
    width: 500px;
  }

  #birth{
    width: 190px;
  }

  #submit{
    margin-top: 30px;
  }
}

@media only screen and (max-width:1150px) {
  main{
    max-width: 950px;
  }

  #cpf, #birth{
    width: 375px;
  }

  #city{
    width: 718px;
  }

  #submit{
    margin-top: 40px;
  }
}

@media only screen and (max-width:1000px) {
  main{
    width: 400px;
  }

  #submit{
    margin-top: 30px;
    margin-left: 120px;
  }
  
  #name, #cpf, #birth, #state, #city, #table{
    max-width: 350px;
  }

  .tableWrapper{
    width: 350px;
    margin: 0 auto;
  }
}